<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Rubik+Doodle+Shadow&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="page-container">
    <nav>
        <ul>
            <header class="center-ver">
                <div id="title">Habit Tracker</div>
            </header>
            {{#if authenticated}}
            <li class="nav-links"><a href="/dashboard">Dashboard</a></li>
            <li class="nav-links"><a href="/journal">Journal</a></li>
            <li class="nav-links"><a href="/notifications">Notifications</a></li>
            <li class="nav-links"><a href="/contact">Contact</a></li>
            <li class="nav-links"><a href="/auth/logout">Logout</a></li>
            {{!-- <li class="nav-links"><a href="/settings"><img id='settings-icon' src='/assets/settings.png' alt='Settings'></a></li> --}}
            {{else}}
            <li class="nav-links"><a href="/">Home</a></li>
            <li class="nav-links"><a href="/auth/login">Login</a></li>
            <li class="nav-links"><a href="/auth/register">Register</a></li>
            <li class="nav-links"><a href="/contact">Contact</a></li>
            {{/if}}
            <div class="center-ver">
                <img id="menu-icon" src="/assets/menu.png" alt="menu icon">
            </div>
            {{!-- <div class="center-ver">
                <img id="large-menu-icon" src="/assets/menu.png" alt="menu icon">
            </div> --}}
        </ul>
    </nav>
    <div id="popup-menu" class="hide">
        <div>
            <ul id="menu-list">
                {{#if authenticated}}
                <li class="menu-links"><a href="/dashboard">Dashboard</a></li>
                <li class="menu-links"><a href="/journal">Journal</a></li>
                <li class="menu-links"><a href="/notifications">Notifications</a></li>
                <li class="menu-links"><a href="/contact">Contact</a></li>
                <li class="menu-links"><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li class="menu-links"><a href="/">Home</a></li>
                <li class="menu-links"><a href="/auth/login">Login</a></li>
                <li class="menu-links"><a href="/auth/register">Register</a></li>
                <li class="menu-links"><a href="/contact">Contact</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
    {{!-- <div id="large-popup-menu" class="hide">
        <div>
            <ul id="large-menu-list">
                {{#if authenticated}}
                <li class="menu-links"><a href="/dashboard">Dashboard</a></li>
                <li class="menu-links"><a href="/journal">Journal</a></li>
                <li class="menu-links"><a href="/contact">Contact</a></li>
                <li class="menu-links"><a href="/settings">Settings</a></li>
                <li class="menu-links"><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li class="menu-links"><a href="/">Home</a></li>
                <li class="menu-links"><a href="/auth/login">Login</a></li>
                <li class="menu-links"><a href="/auth/register">Register</a></li>
                <li class="menu-links"><a href="/contact">Contact</a></li>
                {{/if}}
            </ul>
        </div>
    </div> --}}
    <div class="content-wrap">
        {{{body}}}
    </div>
    <footer class="font-main">
        <div>&copy; 2023 Habit Tracker</div>
    </footer>

    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</body>

</html>