<div id="dashboard-container">
  <div id="habit-container">
    <!-- Habits will be displayed here -->
  </div>

  <div class="auth-container form-container">
    <h3>Add a New Habit:</h3>
    <form id="habit-form">
      <label for="habitName"></label>
      <input type="text" id="habitName" class="add-habit" name="habitName" placeholder="Habit Name" required>

      <label for="habitType"></label>
      <select class="add-habit" id="habitType" name="habitType" required>
        <option value="" disabled selected>Select Habit Type</option>
        <option value="good">Good</option>
        <option value="bad">Bad</option>
      </select>
      <div class="center-hor">
        <button class="submit-btn" type="submit">Add Habit</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/dashboard.js"></script>