<div class="center-hor">
    <div class="auth-container font-main" id="journal-content">
        <h1 class="font-secondary">Journal</h1>
        <section class="center-hor">
            <div id="journal-form-container">
                <h2 class="">Add New Entry</h2>
                <form id="new-journal-entry">
                    <div class="form-field wid-100">
                        <label for="habit-select"></label>
                        <select id="habit-select" name="habit-select" class="journal-input">
                            <option value="" disabled selected>Habit (Optional)</option>
                            <!-- Dynamically load habit options here -->
                        </select>
                    </div>
                    <div class="form-field wid-100">
                        <label for="entryText"></label>
                        <div class="center-hor">
                            <textarea id="entryText" name="entryText" class="journal-input" rows="4" cols="50"
                                placeholder="What are you feeling?" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn" id="journal-submit">Add Entry</button>
                </form>
            </div>
        </section>

        <section>
            {{!-- <h2 class="">Past Entries</h2> --}}
            <div id="journal-entries" class=""></div>
        </section>
    </div>
</div>

<script src="/js/journal.js"></script>