<div class="center-hor">
    <div class="auth-container">
        <h2>Welcome!</h2>
        <p>
        <div>
            Have a habit you want to break? Or a healthy habit you want to form?
        </div>
        <div>
            We're here to help!
        </div>
        </p>
        <p>
        <div>
            Use the links below to login or create a new account
        </div>
        <div>
            and begin tracking your habits!
        </div>
        </p>
        <a class="auth-btn" href="/auth/login">Login</a>
        <a class="auth-btn" href="/auth/register">Register</a>
    </div>
</div>