<div class="center-hor">
    <div class="auth-container font-main">
        <h2 class="">Welcome!</h2>
        <p class="">
            Have a habit you want to break? Or a healthy habit you want to form? We're here to help!
        </p>
        <p class="">
            Use the links below to login or create a new account and begin tracking your habits!
        </p>
        <a class="auth-btn" href="/auth/login">Login</a>
        <a class="auth-btn" href="/auth/register">Register</a>
    </div>
</div>