<div class="center-hor">
    <div class="center-ver">
        <div class="auth-container">
            <h2>Login</h2>
            <form id="loginForm">
                <div>
                    <label for="email"></label>
                    <input class="auth-input" type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <label for="password"></label>
                    <input class="auth-input" type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="center-hor">
                    <button class="submit-btn" type="submit">Login</button>
                </div>
                <div id="message"></div>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>