<div class="center-hor">
    <div class="auth-container">
        {{!-- <div class="settings-container">
            <h2>Settings</h2>
            <div class="setting-item">
                <label for="allowNotifications">Allow Notifications:</label>
                <input type="checkbox" id="allowNotifications" name="allowNotifications">
            </div>
        </div> --}}
        <div id="coming-soon">Coming Soon!</div>
    </div>
</div>
<script src="/js/notifications.js"></script>